.calc__container {
    display: flex;
    gap: var(--gap);
}

.calc__content {
    width: var(--width-block);
}


.calc__title {
    margin-bottom: 32px;
}

.calc__fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.calc__fieldset-size {
    margin-bottom: 32px;
    display: flex;
}

.calc__wrapper-input-size {
    margin-right: 10px;
    flex-basis: 50%;
}

.calc__wrapper-input-size:last-child {
    margin-right: 0;
}

.calc__text {
    font-size: 12px;
    color: #898989;
    margin-bottom: 2px;
}

.calc__wrapper-input {
    flex-basis: 50%;
}

.calc__input-number {
    width: 100%;
    height: 54px;
    padding: 0 25px;
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    outline: none;
}

.calc__input-number:hover,
.calc__input-number:focus{
    border-color: #FFC700;
}

.calc__fieldset-tarif {
    margin-bottom: 65px;
}

.calc__text-legend {
    margin-bottom: 16px;
}

.calc__wrapper-input-tarif {
    margin-right: 16px;
    display: inline-flex;
}

.calc__wrapper-input-tarif:last-child {
    margin-right: 0;
}

.calc__input-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 8px;
}

.calc__input-radio:before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 50%;
}

.calc__input-radio:after {
    content: '';
    inset: 0;
    position: absolute;
    transform: scale(0.33);
    background-color: #232020;
    border-radius: 50%;
    opacity: 0;
}

.calc__input-radio:checked::after {
    opacity: 1;
}

.calc__label-radio {
    text-transform: uppercase;
}


.calc__total {
    width: var(--width-block);
    display: flex;
    align-items: flex-end;
    padding: var(--padding);
    background: #333 url('../image/calc.jpg') center/cover no-repeat;
    border-radius: 12px;
}
.calc__result-wrapper {
    display: none;
    flex-basis: 303px;
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 8px;

}

.calc__result-wrapper-show {
    display: block;
}

.calc__order {
    display: none;
}

.calc__order-show {
    display: inline-block;
}

.calc__result {
    margin-top: 0;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.calc__result:last-child {
    margin-bottom: 0;
}

@media (max-width: 1240px) {
    .calc__title {
        margin-bottom: 24px;
    }

    .calc__fieldset-size {
        margin-bottom: 24px;
    }

    .calc__fieldset-tarif {
        margin-bottom: 34px;
    }
}

@media (max-width: 920px) {
    .calc {
        --width-block: 100%;
    }

    .calc__container {
        flex-direction: column;
    }

    .calc__fieldset-tarif {
        margin-bottom: 36px;
    }

    .calc__input-number {
        height: 36px;
        padding: 0 16px;
    }

    .calc__label-radio {
        font-size: 14px;
    }

    .calc__text-legend {
        margin-bottom: 8px;
    }

    .calc__total {
        min-height: 220px;
        align-items: flex-start;
        background-position: 50% 75%;
    }
}

@media (max-width: 560px) {
    .calc__title {
        margin-bottom: 16px;
    }

    .calc__fieldset-size {
        flex-direction: column;
        margin-bottom: 16px;
    }

    .calc__fieldset-tarif {
        margin-bottom: 24px;
    }

    .calc__wrapper-input-size {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .calc__wrapper-input-size:last-child {
        margin-bottom: 0;
    }

    .calc__wrapper-input-tarif {
        display: flex;
        margin-right: 0;
        margin-bottom: 8px;
    }

    .calc__wrapper-input-tarif:last-child {
        margin-bottom: 0;
    }

    .calc__total {
        min-height: 128px;
    }

    .calc__result-wrapper {
        padding: 16px;
    }

    .calc__result {
        margin-bottom: 8px;
    }
}

